// Color

$pz-body-bg:                   #F5F6FA;

$pz-primary-color:             #D7245B;
$pz-primary-color-hover:       #AA0E3E;
$pz-primary-color-shade-1:     #F2A2BB;
$pz-secondary-color:           #F2994A;
$pz-border-color:              #E8E8E8;

$pz-light-1:                   #F0F0F0;

$pz-red-1:                     #E30613;
$pz-red-2:                     rgba(215, 36, 91, 0.1);
$pz-red-3:                     #EB5757;

$pz-red-light-1:               #FAEBEF;

$pz-green-1:                   #8BC751;
$pz-green-2:                   #6FCF97;

$pz-blue-1:                    #2D9CDB;
$pz-blue-2:                    #2B93D1;

$pz-gray-1:                    #C4C4C4;
$pz-gray-2:                    #B0B0B0;
$pz-gray-3:                    #BDBDBD;
$pz-gray-4:                    #6C757D;
$pz-gray-5:                    #878787;
$pz-gray-6:                    #5F5F5F;
$pz-gray-7:                    #949494;
$pz-gray-8:                    #BBBBBB;

$pz-black-1:                   #919191;
$pz-black-2:                   #333333;
$pz-black-3:                   #2B2B2B;

$pz-yellow-1:                  #F39A4A;
